@import 'bulma/css/bulma.min.css';

/* Base position of the container */
.hero-body .container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Initial state of login/register box */
.hero-body .container .box {
  z-index: 5;
}

.hero-body .container.align-content-top-after-cards {
  justify-content: flex-start !important; /* Override vertical centering */
}

.hero-body {
  display: flex;
  flex-direction: column;
}